<div id="inputArea">
	<h3 style="text-align: center">Upset Graph</h3>
	<%= form_tag({}, {:id => "delta"}) do %>
		USCF ID: <%= text_field_tag "uscf_id" %>
		<%= submit_tag "Go" %>
		<div id="options">
		    <label><%= radio_button_tag 'type', 'regular', true %> Regular</label>
		    <label><%= radio_button_tag 'type', 'quick' %> Quick</label>
		</div>
	<% end %>
	<br />
	<div id="text">Enter a USCF ID to see that player's results against opponents based on the rating difference.  Uses a logistic regression algorithm to draw lines representing the rating difference boundaries for predicting a win (green) and a win/draw (blue).</div>
</div>

<div id="scatterplot" style="height: 640px; width: 880px; margin-left: 0px; border: 1px solid black; background-color: black; display: none;"></div>

<script type="text/javascript">
$("#navigation").val("Upset Graph");
gridOn = false
var svg = d3.select("#scatterplot").append("svg").attr("width", "100%").attr("height", "100%");
$("#delta").submit(function(){
	$("#delta").hide();
	$("#text").html("Loading tournaments for that player");
	var uscf_id = $("#uscf_id").val();
	$.ajax({
		type : 'GET',
		url : '/rating_history',
		data : {uscf_id: uscf_id, type: $("#type_regular").attr("checked") ? 'regular' : 'quick'},
	    dataType : 'json',
	  	error : function(){
			alert("There's an error!  e-mail acl68@case.edu");
		},
		success : function(data){
			if (!data){
				$("#text").html("Invalid input");
				$("#delta").show();
				return; //There's an error
			}
			numTournaments = data.length;
			if (numTournaments == 0){
				$("#text").html("That player has never played in a tournament of that type");
				$("#delta").show();
				return;	//No tournament history
			}
			
			results = [];
			
			j = 0;
			for (i = 0; i < numTournaments; i++){
				$.ajax({
					type : 'GET',
					url : '/opp_results',
					data : {uscf_id: uscf_id, rating: data[i].rating, tournament: data[i].id, section: data[i].section},
					dataType : 'json',
					error : function(){
						alert("There's an error!  e-mail acl68@case.edu");
					},
					success : function(data2){
						results = results.concat(data2);
						j++
						$("#text").html("Loading... " + Math.ceil((j / numTournaments) * 100) + "%<br />Tournament: " + j + "/" + numTournaments);
						if (j == numTournaments){
							$("#inputArea").hide();
							$("#scatterplot").show();
							$.ajax({
								type : 'POST',
								url : '/build_chart',
								data : {results: results},
								dataType: 'script'
							});
						}
					}
				})
			}
		}
	})
	return false;
});
function grid(){
	if (gridOn == false){
		svg.selectAll(".x line").attr("y2", 600 - y(0)).attr("y1", -1 * y(0));
		svg.selectAll(".y line").attr("x2", 800).attr("x1", 0);
		$("line").css("stroke", "white");
		$("line").css("stroke-dasharray", "4 2");
		gridOn = true;
	} else {
		svg.selectAll(".x line").attr("y2", 0).attr("y1", 6);
		svg.selectAll(".y line").attr("x2", 0).attr("x1", 6);
		gridOn = false;
	}
}
</script>