<% if !(@result.nil?) %>
	<% regular = (@result.first[:first][:ratings][:regular] ? true : false) %>
	<table>
		<tr>
			<td>Name</td>
			<td>Regular</td>
			<td>Quick</td>
			<td>Plays</td>
			<td>First rating</td>
			<td>Last rating</td>
			<td>First date</td>
			<td>Last date</td>
	<% for i in 0...@result.length %>
	<tr>
		<td><a target="_blank" href="http://main.uschess.org/assets/msa_joomla/MbrDtlMain.php?<%= @result[i][:id] %>"><%= @result[i][:name] %>: </a></td>
		
		<td><%= (@result[i][:now][:regular].to_i != 0) ? @result[i][:now][:regular] : "Unr." %></td>
		<td><%= (@result[i][:now][:quick].to_i != 0) ? @result[i][:now][:quick] : "Unr." %></td>
		
		<td><%= @result[i][:plays] %></td>
		
		<td><%= regular ? 
				((@result[i][:first][:ratings][:regular].to_i == -1) ? "N/A" : 
					(@result[i][:first][:ratings][:regular].to_i != 0) ? @result[i][:first][:ratings][:regular] : "Unr.")
						:
				((@result[i][:first][:ratings][:quick].to_i == -1) ? "N/A" : 
					(@result[i][:first][:ratings][:quick].to_i != 0) ? @result[i][:first][:ratings][:quick] : "Unr.")
			%></td>
		
		<td><%= regular ? 
				((@result[i][:first][:ratings][:regular].to_i == -1) ? "N/A" : 
					(@result[i][:first][:ratings][:regular].to_i != 0) ? @result[i][:first][:ratings][:regular] : "Unr.")
						:
				((@result[i][:first][:ratings][:quick].to_i == -1) ? "N/A" : 
					(@result[i][:first][:ratings][:quick].to_i != 0) ? @result[i][:first][:ratings][:quick] : "Unr.")
			%></td>
		<td><%= "#{@result[i][:first][:date][4,2]}/#{@result[i][:first][:date][6,2]}/#{@result[i][:first][:date][0,4]}"%></td>
		<td><%= "#{@result[i][:last][:date][4,2]}/#{@result[i][:last][:date][6,2]}/#{@result[i][:last][:date][0,4]}"%></td>
	</tr>
<% end %>
</table>
<% end %>