<% if !(opponents.nil?) %>
	<% regular = (session[:type] == UscfWebsite::REGULAR) ? true : false %>
	<table>
		<tr>
			<td id="name" class="header">Name &#x25BD;</td>
			<td id="regular" class="header">Regular &#x25BD;</td>
			<td id="quick" class="header">Quick &#x25BD;</td>
			<td id="plays" class="header">Plays &#x25BD;</td>
			<td id="firstRating" class="header">First rating &#x25BD;</td>
			<td id="lastRating" class="header">Last rating &#x25BD;</td>
			<td id="firstDate" class="header">First date &#x25BD;</td>
			<td id="lastDate" class="header">Last date &#x25BD;</td>
	<% for i in 0...opponents.length %>
	<tr>
		<td><a target="_blank" href="http://main.uschess.org/assets/msa_joomla/MbrDtlMain.php?<%= opponents[i][:id] %>"><%= opponents[i][:name] %>: </a></td>
		
		<td><%= (opponents[i][:now][:regular].to_i != 0) ? opponents[i][:now][:regular] : "Unr." %></td>
		<td><%= (opponents[i][:now][:quick].to_i != 0) ? opponents[i][:now][:quick] : "Unr." %></td>
		
		<td><%= opponents[i][:plays] %></td>
		
		<td><%= (regular) ? 
				((opponents[i][:first][:ratings][:regular].to_i == -1) ? "N/A" : 
					(opponents[i][:first][:ratings][:regular].to_i != 0) ? opponents[i][:first][:ratings][:regular] : "Unr.")
						:
				((opponents[i][:first][:ratings][:quick].to_i == -1) ? "N/A" : 
					(opponents[i][:first][:ratings][:quick].to_i != 0) ? opponents[i][:first][:ratings][:quick] : "Unr.")
			%></td>
		
		<td><%= (regular) ? 
				((opponents[i][:last][:ratings][:regular].to_i == -1) ? "N/A" : 
					(opponents[i][:last][:ratings][:regular].to_i != 0) ? opponents[i][:last][:ratings][:regular] : "Unr.")
						:
				((opponents[i][:last][:ratings][:quick].to_i == -1) ? "N/A" : 
					(opponents[i][:last][:ratings][:quick].to_i != 0) ? opponents[i][:last][:ratings][:quick] : "Unr.")
			%></td>
		<td><%= "#{opponents[i][:first][:date][4,2]}/#{opponents[i][:first][:date][6,2]}/#{opponents[i][:first][:date][0,4]}"%></td>
		<td><%= "#{opponents[i][:last][:date][4,2]}/#{opponents[i][:last][:date][6,2]}/#{opponents[i][:last][:date][0,4]}"%></td>
	</tr>
<% end %>
</table>
<% end %>