<div id="information">
<p>My name is Andrew Latham.  I am a computer science and mathematics major at Case Western, and a 2072-rated chess player.  This is a personal project of mine, and something I've always wanted to do.</p>
<p>The USCF MSA is a goldmine of information.  The USCF does a few interesting things with this data, but there's so much more potential.  Exploring your extensive personal history and network of past opponents can lead to fascinating insights, many of which could improve your game.  It is my goal to help chess players achieve breakthroughs and realizations through statistical analysis and visualization of historical trends.  I am also implementing machine learning algorithms based on the massive set of training examples the USCF makes available in order to provide more interesting information and analysis.  The goal is to give chess players who use my website what is, as Nate Silver said in his 2012 bestseller <i>The Signal and the Noise</i>, "the best kind of information - the kind other people don't have."</p>
<p>I started working on this project on September 22, 2012.  It is open-source, and a log of recent updates is available at <a href="https://github.com/orthogonal/USCF-Stats">the project's GitHub page</a>.  If you have any ideas for information based on your chess history that you think would be interesting to see, or just want to talk about chess in general, please <a href="mailto:acl68@case.edu">send me an e-mail</a>!</p>
<p>If you need to find information to enter into the input forms on this website, please use the Player/Event Lookup link in the upper-right-hand corner of this page, which will open the USCF search page in a separate window.  If you would like to use some good sample numbers to try different things without having to look them up, feel free to use my USCF ID (12842311) as an example player ID and the Mikhail Botvinnik Open (201001232121) as an example tournament ID.</p>
<p>The page you are currently on will give you lots of information about all the players you've ever played, information that I always found interesting to keep track of.  Using the navigation bar in the header, you can access the upset table, performance/rating history chart, and tournament results graph.  The first two of those use machine learning algorithms to predict your individual results and your future rating progress.</p>

<div id="beta">
	<%= form_tag({}, {:id => "id_search"}) do %>
		USCF ID: <%= text_field_tag "uscf_id" %>
		<%= submit_tag "Go" %>
		<div id="options">
		    <label><%= radio_button_tag 'type', 'regular', true %> Regular</label>
		    <label><%= radio_button_tag 'type', 'quick' %> Quick</label>
		</div>
	<% end %>
	<br />
	<div id="test">Enter your USCF ID to see what happened to all the people you've ever played</div>
</div>

<script>
$('#id_search').submit(function(){
   $("#id_search").hide();
   $("#test").html("Crawling the USCF website for your tournament data and your opponents' profiles");
   var uscf_id = $("#uscf_id").val()
   $.ajax({
      type : 'GET',
      url : '/tan_tournaments',
	  data: {uscf_id: uscf_id, type: $("#type_regular").attr("checked") ? 'regular' : 'quick'},
      dataType : 'json',
	  error: function(){
		alert("There's an error!  e-mail acl68@case.edu");
	  },
	  success : function(data){
		if (!data){
			$("#test").html("Invalid input");
			$("#id_search").show();
			return;
		}
		numTournaments = data["num"];
		if (numTournaments == 0){
			$("#test").html("That player has never played in a " + 
				($("#type_regular").attr("checked") ? "regular " : "quick ") + 
				"tournament");
			$("#id_search").show();
			return;
		}
		opponents = []
		j = 0;
		stuff = {};
		for (i = 0; i < numTournaments; i++){
			$.ajax({
				type : 'GET',
				url: '/tan_opponents',
				data: {uscf_id: uscf_id, tournament: data[i].tournament_id, section: data[i].section},
				dataType: 'json',
				error: function(){
					alert("There's an error!  e-mail acl68@case.edu");
				},
				success: function(data2){
					++j;
					date = data2[0].date;
					date = date.substring(4, 6) + "/" + date.substring(6, 8) + "/" + date.substring(0, 4);
					opponents = opponents.concat(data2);
					$("#test").html("Crawling the USCF website for your tournament data and your opponents' profiles<br />Loading... " + Math.ceil((j / numTournaments) * 100) + "%<br />"
						+ "Tournament " + j + "/" + numTournaments + "<br />Last date processed: " + date);
					if (j == numTournaments){
						$.ajax({
						      type : 'POST',
						      url : '/tan_complete',
							  data : {stuff: opponents},
						      dataType : 'script'
						});
					}
				}
			})
		}
	  }
   });
   return false;
});
</script>