<!DOCTYPE html>
<html>
<head>
  <title>USCF Stats</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
<script src="http://d3js.org/d3.v2.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35132446-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
	<div id="top">
		<div id="header">
			<div id="bishop">
				<%= image_tag("bishop.png", :size => "60x60", :alt => "USCFstats logo")%>
			</div>
			<div id="title">USCF Stats</div>
			<div id="subtext">
				By <a href="mailto:acl68@case.edu">Andrew Latham</a>
			</div>
			<div id="msalink">
				<a href="http://www.uschess.org/assets/msa_joomla/MbrLst.php" target="_blank">Player/Event Lookup</a>
			</div>
			<div id="dropdown">
				<select id="navigation">
					<option id="opt1">Where are they now?</option>
					<option id="opt2">Upset Graph</option>
					<option id="opt3">Performance Analysis</option>
					<option id="opt4">Tournament Match Network</option>
					<!--<option id="opt5" disabled="disabled">Experential Development</option>-->
				</select>
			</div>
			<div id="clearance">&nbsp;</div>
		</div>
	</div>

<%= yield %>

</body>
<script type="text/javascript">
	$("#navigation").change(function(){
		switch($("#navigation option:selected").attr("id")){
			case "opt1":
				window.location = "/"
				break;
			case "opt2":
				window.location = "/upsets"
				break;
			case "opt3":
				window.location = "/performances"
				break;
			case "opt4":
				window.location = "/matches"
				break;
			case "opt5":
				window.location = "/experience"
				break;
		}
	});
</script>
</html>
